# {{ ansible_managed }}

[logstash-{{ logstash_major_version }}]
name=Elasticsearch repository for Logstash {{ logstash_major_version }}
baseurl=https://artifacts.elastic.co/packages/{{ logstash_major_version }}/yum
gpgcheck=1
gpgkey=https://artifacts.elastic.co/GPG-KEY-elasticsearch
enabled=1
autorefresh=1
type=rpm-md